:root {
    --violet: hsl(257, 40%, 49%);
    --soft-magenta: hsl(300, 69%, 71%);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Open Sans', sans-serif;
}

footer { 
    font-size: 1.1rem; 
    text-align: center; 
}

footer a { 
    color: hsl(228, 45%, 44%); 
}